body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
    display: flex;
    width: 1000px;
    height: 565px;
    overflow: hidden;
}

#BrowsePane {
    overflow-y: scroll;
    width: 375px;
    height: 100%;
    float: left;
}

#ContentPane {
    width: 625px;
    height: 100%;
    float: left;
    overflow-y: scroll;
    background-color: #EEEEEE;
}

#welc {
    height: 800px;
}

.browse-board {
    height: 115px;
}

.content {
    margin: 0 10px 0 30px;
    padding: 10px 5px 10px 0;
    border-bottom: 1px solid #AAAAAA;
    height: 95px;
}

.board {
    font-family: "Helvetica Neue";
    font-weight: bold;
}

.content .title {
    display: inline-block;
    width: 255px;
}

.content .date {
    float: right;
    margin-top: 4px;
}

.content .numline {
    margin: 8px 0 13px 0;
}

.content .text {
}


div.boardDisplay {
    margin: 20px 30px 0 40px;
}

div.card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    background-color: white;
    padding: 15px 15px 20px 15px; 
}

div.boardDisplay div.boardline {
    margin-bottom: 40px
}

div.boardline .name {
    font-size: 1.3em;
    display: inline-block;
    margin-bottom: 7px;

}

div.boardline .setting {
    float: right;
    height: 30px;
    width: 30px;
}

div.boardline .meta .mine {
    float: right;
}

div.pinnedBulletin {
    min-height: 170px;
    margin-bottom: 40px;
}

.pinnedBulletin .msg {
   word-wrap: break-word;
}

.pinnedBulletin .topline div {
    display: inline-block;
}

.pinnedBulletin .author {
    float: left;
}

.pinnedBulletin .interact {
    float: right;
}

.pinnedBulletin .timestamp {
    margin: 0 auto;
    width: 100%;
}

.pinnedBulletin .setting {
    height: 25px;
    width: 25px;
}

::-webkit-scrollbar {
    width:9px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}
