body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#container {
    display: flex;
    width: 1000px;
    height: 565px;
    overflow: hidden;
}

#BrowsePane {
    overflow-y: scroll;
    width: 375px;
    height: 100%;
    float: left;
}

#ContentPane {
    width: 625px;
    height: 100%;
    float: left;
    overflow-y: scroll;
    background-color: #EEEEEE;
}

#welc {
    height: 800px;
}

.browseBoard {
    height: 115px;
}

.browseBoard .active {
    background-color: #116CD6;
}

.content {
    margin: 0 10px 0 30px;
    padding: 10px 5px 10px 0;
    border-bottom: 1px solid #AAAAAA;
    height: 95px;
}

.browseBoard .active .content {
    border-bottom-color: #116CD6;
}

.board {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 1.15em;
}

.browseBoard .active .content {
    color: #E0E0E0;
}

.browseBoard .active .content .title {
    color: #FFFFFF;
}


.content .title {
    display: inline-block;
    width: 255px;
}

.content .date {
    float: right;
    margin-top: 4px;
}

.content .numline {
    margin: 8px 0 13px 0;
}

.content .text {
}


div.boardDisplay {
    margin: 20px 30px 0 40px;
}

div.card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    background-color: white;
    padding: 15px 15px 20px 15px; 
}

div.boardDisplay div.boardline {
    margin-bottom: 40px
}

div.boardline .name {
    font-size: 1.3em;
    display: inline-block;
    margin-bottom: 7px;

}

div.boardline .setting {
    float: right;
    height: 30px;
}

div.boardline .meta .mine {
    float: right;
}

div.pinnedBulletin {
    min-height: 100px;
    margin-bottom: 30px;
}

.pinnedBulletin .msg {
   word-wrap: break-word;
}

.pinnedBulletin .topline {
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 15px;
    height: 25px;
    position: relative;
}

.pinnedBulletin .topline div {
    display: inline-block;
}

.pinnedBulletin .authorbox {
    width: 33%;
    position: relative;
}

.authorbox .author-icon {
    top: 2px;
    position: absolute;
}

.authorbox .text {
    margin-left: 23px;
}

.authorbox .author {
    font-family: "Monaco", Monaco, monospace, sans-serif;
}


.pinnedBulletin .timestamp {
    width: 33%;
    text-align: center;
}

.pinnedBulletin .interact {
    width: 32%;
}

.pinnedBulletin .setting {
    height: 24px;
    position:absolute; 
    bottom: 6px;
    right: 0px;
}

::-webkit-scrollbar {
    width:9px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}
